{% extends 'emails/base_email_template.html.twig' %}

{% block email_content %}
<p style="font-size:16px;font-weight:bold;margin:0 0 10px">
    Здравствуйте!
</p>
<p style="margin:0 0 10px">
    <b>{{ user.firstname }} {{ user.lastname }}</b>, Вы зарегистрированы на сайте
    <a href="{{ url('base_url') }}"
       style="color:#EC6110;text-decoration:none"
       target="_blank">coin24.com.ua</a>. <br>
    Для активации на сайте и подтверждения Ваших данных нажмите на кнопку или перейдите по ссылке:
    <a href="{{ url('email_confirm', { "token": user.token}) }}" style="color:#EC6110;text-decoration:none"
       target="_blank">{{ url('email_confirm', { "token": user.token }) }}
    </a>
</p>
<p style="margin:0 0 10px">
    <a href="{{ url('email_confirm', { "token": user.token }) }}"
       style="display:inline-block;border-radius:5px;background:#EC6110;background-image:-webkit-linear-gradient(90deg,#EA5400,#F28C3C);background-image:-moz-linear-gradient(90deg,#EA5400,#F28C3C);background-image:linear-gradient(90deg,#EA5400,#F28C3C);padding:10px 12px;color:#fff;font-family:Arial,sans-serif;font-weight:bold;font-size:13px;line-height:20px;text-decoration:none;text-align:center;text-transform:uppercase;letter-spacing:0.8px"
       target="_blank">
        Подвтердить аккаунт
    </a>
</p>
<p style="margin:0 0 10px">
    Пароль для авторизации: <span style="color:#EC6110;font-weight:600;">{{ user.generatedPassword }}</span>
</p>
<p style="margin:0 0 10px;padding:10px;border:1px solid #ffe58f;background:#fff8e4;border-radius:7px;">
  <span style="width:20px;height:20px;background:#faad14;border-radius:50%;color:#ffffff;margin-right:5px;font-size:14px;text-align:center;display:inline-block;">!</span>  Никому не сообщайте Ваш пароль!
</p>
{% endblock %}