{% extends 'emails/base_email_template.html.twig' %}

{% block email_content %}
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="table-layout:fixed;margin:0">
        <tr>
            <td style="padding:5px;background:#fff0e0;border:1px solid #ffffff">
                <span style="font-size:11px;text-transform:uppercase;color:#666666;">
                    Пользователь:
                </span><br>
                <a href="#" style="color:#EC6110;text-decoration:none">
                    {{ requisition.client.email }}
                </a>
            </td>
            <td style="padding:5px;background:#fff0e0;border:1px solid #ffffff">
                <span style="font-size:11px;text-transform:uppercase;color:#666666;">
                    Курс:
                </span><br>
                <span style="color:#EC6110;text-decoration:none">
                    {# TODO for example: 26.30536678 UAH #}
                    {{ requisition.course }} {{ requisition.pair.payout.currency.asset }}
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding:5px;background:#fff0e0;border:1px solid #ffffff">
                <span style="font-size:11px;text-transform:uppercase;color:#666666;">
                    ID Заявки:
                </span><br>
                <span style="color:#EC6110;text-decoration:none;text-transform:uppercase;">
                    {% set token = requisition.id|split('-')[0] %}
                    {# TODO for example: 47745826 #}
                    {{ token }}
                </span>
            </td>
            <td style="padding:5px;background:#fff0e0;border:1px solid #ffffff">
                <span style="font-size:11px;text-transform:uppercase;color:#666666;">
                    {{ requisition.pair.payment.currency.tag == "CURRENCY" ? "Комиссия платежной системы:" : "Комиссия биржи:" }}
                </span><br>
                <span style="color:#EC6110;text-decoration:none">
                    {# TODO for example: 12 UAH #}
                    {% for requisitionFeeHistory in requisition.requisitionFeeHistories %}
                        {% if requisitionFeeHistory.type == 'payment' %}
                            {{ requisitionFeeHistory.constant }} {{ requisition.pair.payment.currency.asset }}
                        {% endif %}
                    {% endfor %}
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding:5px;background:#fff0e0;border:1px solid #ffffff">
                <span style="font-size:11px;text-transform:uppercase;color:#666666;">
                    Дата:
                </span><br>
                <span style="color:#EC6110;text-decoration:none">
                    {# TODO for example: 25.01.2021 #}
                    {{ requisition.createdAt|date("d.m.Y") }}
                </span>
            </td>
            <td style="padding:5px;background:#fff0e0;border:1px solid #ffffff">
                <span style="font-size:11px;text-transform:uppercase;color:#666666;">
                    {{ requisition.pair.payout.currency.tag == "CURRENCY" ? "Комиссия платежной системы:" : "Комиссия биржи:" }}
                </span><br>
                <span style="color:#EC6110;text-decoration:none">
                     {% for requisitionFeeHistory in requisition.requisitionFeeHistories %}
                         {% if requisitionFeeHistory.type == 'payout' %}
                             {{ requisitionFeeHistory.constant }} {{ requisition.pair.payout.currency.asset }}
                         {% endif %}
                     {% endfor %}
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding:5px;background:#fff0e0;border:1px solid #ffffff" colspan="2">
                <table width="100%">
                    <tr>
                        <td width="35px" style="padding-top:5px;">
                            {% set icon = requisition.pair.payout.currency.tag == 'CRYPTO' ? requisition.pair.payout.currency.asset : requisition.pair.payout.paymentSystem.tag %}
                            {# TODO: добавить тег к адресу изображения #}
                            <img height="32"
                                 src="{{ url('base_url') }}email/payment-icons/{{ icon }}.png"
                                 alt="">
                        </td>
                        <td>
                            <span style="font-size:11px;font-weight:600;text-transform:uppercase;color:#666666;">
                                {% if requisition.pair.payout.currency.tag == 'CRYPTO' %}
                                    Покупка
                                {% else %}
                                    Продажа
                                {% endif %}
                            </span><br>
                            <span style="font-weight:600;">
                                {# TODO for example: 5 USDT #}
                                {{ requisition.payoutAmount }} {{ requisition.pair.payout.currency.asset }}
                            </span>
                        </td>
                        <td width="50%" style="text-align: right;">
                            <span style="font-size:11px;font-weight:600;text-transform:uppercase;color:#666666;">
                                Сумма платежа
                            </span><br>
                            <span style="font-weight:600;">
                                {# TODO for example: 196.50658062124 UAH #}
                                {{ requisition.paymentAmount }} {{ requisition.pair.payment.currency.asset }}
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding:2px 0;" colspan="2">
                <table width="100%" border="0" cellpadding="0" cellspacing="0"
                       style="border-collapse:collapse;border-spacing:0;">
                    <tr height="1">
                        <td height="1" colspan="3">
                            <div style="line-height:1px;height:1px;background-color:#EC6110" dir="auto"></div>
                        </td>
                    </tr>
                    <tr height="48">
                        <td align="right"
                            style="color:rgb(102,102,102);font-size:10px;padding:0 15px 0 0;border-width:1px;border-color: #666666;">
                            ОПЛАЧЕНО
                        </td>
                        <td width="1" style="background-color:#EC6110;width:1px"></td>
                        <td width="90" align="right"
                            style="width:120px;padding:0 5px 0 15px;font-size:15px;font-weight:600;white-space:nowrap;color:#EC6110;">
                            {# TODO for example: 196.50658062124 UAH #}
                            {{ requisition.paymentAmount }} {{ requisition.pair.payment.currency.asset }}
                        </td>
                    </tr>
                    <tr height="1">
                        <td height="1" colspan="3">
                            <div style="line-height:1px;height:1px;background-color:#EC6110" dir="auto"></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    {% for invoice in requisition.invoices %}
        {% if invoice.direction == 'payment' %}
            {% for flowData in invoice.flowData %}
                {% if flowData.name == "blockchainUrl" %}
{#                    {% if flowData.value matches '/https?:/' %}#}
                        <p style="padding:10px;border:1px solid #91d5ff;background:#e3f4ff;border-radius:7px;">
                            <span style="width:20px;height:20px;background:#1890ff;border-radius:50%;color:#ffffff;margin-right:5px;font-size:14px;text-align:center;display:inline-block;">i</span>
                            <a href={{ flowData.value }} style="color:#EC6110;>Ссылка на blockchain</a>
                        </p>
{#                    {% else %}#}
{#                        <p>#}
{#                            {{ flowData.value }}#}
{#                        </p>#}
{#                    {% endif %}#}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}